<nav class="sub-menu" role="navigation" style="margin-bottom: 0">
    <div>
        <a href="">
            <span class="title">:Account Settings</span>
        </a>
    </div>
    <ul class="nav navbar-top-links ">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/settings/project">
                
            </a>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>

<div id="content-wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            Change Password 
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" action="" id="changePassword" method="POST" onsubmit="changePassword($('#changePassword').serialize())">
                        <div class="form-group">
                            <label>Password</label>
                            <input  placeholder="Enter the password" type="password" name="password">
                        </div>
                        <div >
                            <label>Confirm password</label>
                            <input  placeholder="Enter the same password" type="password" name="repassword">
                        </div><br>
                        <button type="submit" >Submit</button>
                        <button type="reset" >Reset</button>
                    </form>
                </div>
            </div>		
        </div>	
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Change Username 
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" id="changeUsername" onsubmit="changeUsername($('#changeUsername').serialize())">
                        <div class="form-group">
                            <label>Username</label>
                            <input placeholder="Enter new username" type="text" name="username">
                        </div>
                        <button type="submit" >Submit</button>
                        <button type="reset" >Reset</button>
                    </form>
                </div>

            </div>						</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Change Profile Picture 
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label>Profile picture</label>
                        </div>
                        <div class="form-group">
                            <input type="file">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>