.container
	.row
		.col-lg-3
			div.panel
				div.panel.panel-default
					div.panel-heading Navigations
					div.panel-body
						ol
							li Installation Guide
							li User Manual
							li Test Documents
		.col-lg-9
			block docs

