.container
	.row
		.col-lg-3
			div.panel
				div.panel.panel-default
					div.panel-heading Navigations
					div.panel-body
						ol
							li
								a(href='install-guide.html#about') Installation Guide
							li
								a(href='user-manual.html#about') User Manual
							li
								a(href='test-documents.html#about') Test Documents
							li
								a(href='architecture.html#about') Architecture
		.col-lg-9
			block docs

