h3 Problem
  p Third world developing countries like Sri Lanka needs low cost alternatives to undertake Digital Forensics Investigations
    h3 Solution
    p Our solution &quot;OpenDF&quot; is a low cost, open source alternative that provides functional solutions that has capability of fulfilling requests for support in investigating digital crimes in the country.
    h3 Why not existing tools?
    p According to the research has been conducted by UCSC, It is identified that already developed digital forensic investigation processes and models in the world are not applicable to developing countries like  Sri Lanka.
    p "FIT4D&quot; software toolkit is the solution the researchers developed  as an extension for The Sleuth Kit. It is designed to suit Sri Lanka&rsquo;s legislative environment and available resources.
    h3 Scope
    p The idea is to automate a full forensics laboratory that combines several separate processes into one solution. Managing investigation cases, investigators, disk images processing

