#contact
h2 Contact us
p We <i class="fa fa-heart-o" style="color: #ee0000;"></i> to hear you ideas. You can reach us from 
	a(href='https://groups.google.com/forum/#!forum/opendf', terget='_blank', style="") OpenDF Google groups.

script (src="https://apis.google.com/js/plusone.js")
div.g-comments(data-href="[URL]", data-width="642", data-first_party_property="BLOGGER", data-view_type="FILTERED_POSTMOD")

