h3 Technology Stack
ul
	li Java EE
	li EJB ( Enterprise JavaBeans )
	li JPA ( Java Persistence API  )
	li JAX-RS ( Java RESTful Service )
	li JMS ( Java Message Service ) 
	li JNI ( Java Native Interface  )
	li JAXB ( Java Architecture for XML Binding )
	li MySQL
	li Bootstrap
	li AngularJS
	
h3	How to contribute?
p We are on Github! You can simply fork our repo and start developing, one you are done with your super awesome new feature, send us a Pull Request.
