h3 Technology Stack
ul
	li Java EE
	li JPA
	li JAX-RS ( RESTful Service )
	li Java EE
h3	How to contribute?
p We are on Github! You can simply fork our repo and start developing, one you are done with your super awesome new feature, send us a Pull Request.
