h3 What is OpenDF?
p An effort to build an Open Source tool to help Digital Forensics Investigations by bringing all the related processes in digital forensics into one complete solution. For instance, Managing investigation cases, managing and assigning investigators to investigations, storing and managing disk images, extracting data from disk images, note taking and reporting.			
h3 Features
ol
	li Manage Investigators
	li Manage Investigation cases
	li Assign investigators to cases
	li Manage disk images, extract meta data from  them
	li Browse the files in the disk images
	li Browse files by type, RegEx search
	li Note keeping
	li Report Generation and Report Management


