h2 What is OpenDF?
p An effort to build an Open Source tool to help Digital Forensics Investigations by bringing all the related processes in digital forensics into one complete solution. For instance, Managing investigation cases, managing and assigning investigators to investigations, storing and managing disk images, extracting data from disk images, note taking and reporting.			
h2 Main Features
ol
	li Manage Investigators
	li Manage Investigation cases
	li Assign investigators to cases
	li Manage disk images, extract meta data from  them
	li Browse the files in the disk images
	li Browse files by type, RegEx search
	li Note keeping
	li Report Generation and Report Management
	
h2 Screenshots
div.row
	div.col-lg-7
		img.snapshot(src="http://www.scorelab.org/OpenDF/assets/img/02.png")
	div.col-lg-5
		h3 Manage Investigations
		p Investigation Agency can manage their Investigation Cases ( Projects ) using OpenDF. Simply create a project and start assigning Investigators to the Investigation. Add Disk Images related to the Investigation. Start Analysing them.
hr.light
div.row
	div.col-lg-5
		h3 Dig into the Disk Images
		p Travers throught the files and folders, check the metadata, chek the file content, keep notes on the go, assecc them later, generate reports on them. 
	div.col-lg-7
		img.snapshot(src="http://www.scorelab.org/OpenDF/assets/img/04.png")
hr.light
div.row
	div.col-lg-7
		img.snapshot(src="http://www.scorelab.org/OpenDF/assets/img/05.png")
	div.col-lg-5
		h3 Manage Reports
		p Generate different types of reports for different needs or Write custom reports. Storr reports and download them as PDFs when needed.
hr.light
