<nav class="navbar navbar-default navbar-static-top sub-menu" role="navigation" style="margin-bottom: 0">
    <div >

        <a  href="dashboard.html">
            <span class="title">:Browse by type</span>
        </a>
    </div>
    <ul class="nav navbar-top-links">
        <li class="dropdown" >

        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-static-side -->
</nav>

<div id="content-wrapper" >
    <div class="list-group">
	<a  class="list-group-item" href="#/{{idProject}}/browse-by-type/txt">
            <h4 class="list-group-item-heading" >Text</h4>
            <span class="list-group-item-text"></span>
	</a>
        <a  class="list-group-item" href="#/{{idProject}}/browse-by-type/doc">
            <h4 class="list-group-item-heading" >MS Word</h4>
            <span class="list-group-item-text"></span>
	</a>
        <a  class="list-group-item" href="#/{{idProject}}/browse-by-type/utx">
            <h4 class="list-group-item-heading" >UTX</h4>
            <span class="list-group-item-text"></span>
	</a>
    </div>
</div>