<nav class="navbar navbar-default navbar-static-top sub-menu" role="navigation" style="margin-bottom: 0">
    <div >

        <a  href="">
            <span class="title">:Browse by hierarchy</span>
        </a>
    </div>
    <ul class="nav navbar-top-links"  ng-controller="filesController" ng-init="getFilesByHierarchy()">
        <li class="dropdown" ng-show="file.parentDirectory != 0">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/{{idProject}}/browse-by-hierarchy/{{file.parentDirectory}}">
                ^ Level Up
            </a>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-static-side -->
</nav>

<div id="content-wrapper" ng-controller="filesController" ng-init="getFilesByHierarchy()">
    <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 20px;">
        <button type="button" class="btn btn-default" ng-class="{active: displayFormat === 'list'}" ng-click="displayFormat = 'list'"><i class="fa fa-list"></i></button>
        <button type="button" class="btn btn-default" ng-class="{active: displayFormat === 'thumbs'}" ng-click="displayFormat = 'thumbs'"><i class="fa fa-th"></i></button>
    </div>
    <div class="list-group">
        <a  class="list-group-item" ng-class="'file-' + displayFormat" ng-repeat="fl in file.childrenCollection" ng-click="(!fl.isDir)?false:goto('/'+idProject+'/browse-by-hierarchy/'+fl.idFile)">
            <h4 class="list-group-item-heading" ng-if="fl.name !=''">
                <span ng-if="fl.isDir"> <i class="fa fa-folder-o"></i></span>
                <span ng-if="!fl.isDir && hasFileType(fl.name)">
                    <i class="fa fa-file-audio-o" ng-show="isFileType(fl.name,['.mp3','.wma'])"></i>
                    <i class="fa fa-file-pdf-o" ng-show="isFileType(fl.name,['.pdf'])"></i>
                    <i class="fa fa-file-archive-o" ng-show="isFileType(fl.name, ['.tar', '.zip', '.rar', '.7z', '.gz'])"></i>
                    <i class="fa fa-file-text" ng-show="isFileType(fl.name, ['.txt'])"></i>
                    <i class="fa fa-file-image-o" ng-show="isFileType(fl.name, ['.png', '.jpg', '.jpeg', '.gif', '.tif'])"></i>
                    <i class="fa fa-file-word-o" ng-show="isFileType(fl.name, ['.odt', '.fodt', '.doc', '.dot', '.docx', '.docm', '.dotx', '.dotm', '.docb'])"></i>
                    <i class="fa fa-file-excel-o" ng-show="isFileType(fl.name, ['.ods', '.fods', '.xls', '.xlt', '.xlm', '.xlsx', '.xlsm', '.xltx', '.xltm', '.xlw', '.xlsb'])"></i>
                    <i class="fa fa-file-powerpoint-o" ng-show="isFileType(fl.name, ['.odp', '.fodp', '.ppt', '.pot', '.pps', '.pptx', '.pptm', '.potx', '.potm', '.ppam', '.ppsx', '.ppsm', '.sldx', '.sldm'])"></i>
                </span>
                <span ng-if="!fl.isDir && !hasFileType(fl.name)">
                    <i class="fa fa-file"></i>
                </span>
                {{fl.name}}			
            </h4>
            <div style="height: 110px;" ng-if="displayFormat === 'thumbs'" df-thumb-background-image="fl"></div>
            <h4 class="list-group-item-heading" ng-if="fl.name == ''"><i class="fa fa-file" ></i> $UNNAMED</h4>
            <span class="list-group-item-text">Size: {{fl.size}}kb <i ng-if="fl.accessDate">Last access: {{fl.accessDate}}</i><i ng-if="fl.isVirtual">Virtual {{fl.isVirtual}}</i><i ng-if="fl.isDir">Dir: {{fl.isDir}}</i></span>
            <div class="btn-group pull-right" role="group" aria-label="file-actions">
                <button type="button" ng-hide="fl.isDir" id="{{fl.idFile}}" ng-click="viewer(fl)" class="btn btn-default btn-xs"><i class="fa fa-picture-o"> View</i></button>
                <button type="button" ng-hide="fl.isDir" ng-click="goto('/'+idProject+'/bookmark/'+fl.idFile+'/in/'+fl.parentDirectory)" class="btn btn-default btn-xs"><i class="fa fa-bookmark"></i> +Note</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-down"></i> More </button>
            </div>
            <div class="image-viwer hidden" id="{{fl.idFile}}" ></div>
        </a>
        <div style="clear: both"></div>
    </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <img src="">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>