<div id="content-wrapper">
    <br><br>
    <!-- /.row -->
    <div class="row">
        <div class="panel panel-default clickable" ng-controller="diskImagesController">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Project Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <span>
                    <span > Disk Images : {{diskImages.length}} </p>
                </span>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>


    <hr>
    <!-- /.row -->
    <div class="row">
        
    </div>
    <!-- /.row -->
</div>