<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/disk-images">
            <span class="title">:Disk Images</span>
        </a>
    </div>
    <ul class="nav navbar-top-links ">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/disk-images/add-new">
                <i class="fa fa-plus fa-fw"></i>
            </a>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<div id="content-wrapper">

    <div class="row" ng-controller="diskImageController">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add new disk image
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Disk image name</label>
                                    <input class="form-control" placeholder="Enter case name" ng-model="diskImage.name">
                                </div>
                                <div class="form-group">
                                    <label>Disk image Description</label>
                                    <textarea class="form-control" placeholder="Disk image Description" ng-model="diskImage.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Created Date</label>
                                    <input class="form-control" placeholder="Enter Date" type="date" ng-model="diskImage.createdDate">
                                    <p class="help-block">( Creation date of the disk image )</p>
                                </div>
                                <div class="form-group">

                                    <input type="file" name="file" ng-file-select="file=$files[0]">
                                </div>

                                <button class="btn btn-default" ng-click="addNew()">Submit</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

