<nav class="sub-menu" role="navigation" style="margin-bottom: 0">
    <div>
        <a href="">
            <span class="title">:Reports</span>
        </a>
    </div>
    <ul class="nav navbar-top-links ">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/{{idProject}}/report/create/">
                + New Report
            </a>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>

<div id="content-wrapper">
    <div class="list-group">
            <a href="#/{{idProject}}/report/{{report.idReport}}" class="list-group-item" ng-controller="reportsController" ng-repeat="report in reports" ng-click="" >
                <h4 class="list-group-item-heading"><i class="fa fa-file-text-o fa-fw" ></i> {{report.title}}</h4>
                <p class="list-group-item-text">{{report.createdDate | date:'medium' }}</p>
            </a>      
            <!-- /.list-group-item -->
    </div>
</div>