<nav class="sub-menu" role="navigation" style="margin-bottom: 0">
    <div>
        <a href="#/{{idProject}}/reports">
            <span class="title">:Reports</span>
        </a>
    </div>
    <ul class="nav navbar-top-links ">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                + New Report
            </a>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>

<div id="content-wrapper">
    <div class="list-group">
            <a href="#/{{idProject}}/report/create/1" class="list-group-item" >
                <h4 class="list-group-item-heading"><i class="fa fa-file-text-o fa-fw" ></i> Current State Report</h4>
                <p class="list-group-item-text">Overoll report on the project status</p>
            </a>      
            <a href="#/{{idProject}}/report/create/2" class="list-group-item" >
                <h4 class="list-group-item-heading"><i class="fa fa-file-text-o fa-fw" ></i> Disk Images Report</h4>
                <p class="list-group-item-text"></p>
            </a>      
            <a href="#/{{idProject}}/report/create/3" class="list-group-item" >
                <h4 class="list-group-item-heading"><i class="fa fa-file-text-o fa-fw" ></i> Current State Report</h4>
                <p class="list-group-item-text"></p>
            </a>      
            <!-- /.list-group-item -->
    </div>
</div>