<nav class="sub-menu" role="navigation" style="margin-bottom: 0">
    <div>
        <a href="#/{{idProject}}/settings/investigators">
            <span class="title">:Investigators</span>
        </a>
    </div>
    <ul class="nav navbar-top-links ">
        <li >
            <a href="">
                + Add Investigator
            </a>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>

<div id="content-wrapper">
    <div class="list-group" ng-init="otherInvestigators = otherInvestigators()">
            <a href="" class="list-group-item" ng-controller="investigatorsController"  ng-repeat="investigator in otherInvestigators" ng-click="" >
                <input type="button" class="pull-right" value="Add" ng-click="addInvestigator(investigator.idUser)" />
                <h4 class="list-group-item-heading"> {{investigator.name}} </h4>
                <i class="list-group-item-text">{{investigator.email}}</i>
            </a>      
            <!-- /.list-group-item -->
    </div>
</div>